<%= form_with(model: jewel_datum) do |form| %>
  <% if jewel_datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jewel_datum.errors.count, "error") %> prohibited this jewel_datum from being saved:</h2>

      <ul>
        <% jewel_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.number_field :user_id, id: :jewel_datum_user_id, type: :hidden, value:current_user.id, class:"form-control"   %>
  </div>
  <div class="form-group">
    <%= form.label :jewelId, style: "display: block" %>
    <%= form.number_field :jewelId, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :jewelName, style: "display: block" %>
    <%= form.text_field :jewelName, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :jewelPrice, style: "display: block" %>
    <%= form.number_field :jewelPrice, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dateofpurchase, style: "display: block" %>
    <%= form.date_field :dateofpurchase, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
