<div id="<%= dom_id jewel_datum %>">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jewel Id</th>
      <th scope="col">Jewel Name</th>
      <th scope="col">Jewel Price</th>
      <th scope="col">Date of purchase</th>
      <th scope="col">User Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= jewel_datum.jewelId %></td>
      <td><%= jewel_datum.jewelName %></td>
      <td><%= jewel_datum.jewelPrice %></td>
      <td><%= jewel_datum.dateofpurchase %></td>
      <td><%= jewel_datum.user_id %></td>
    </tr>
  </tbody>
</table>

</div>
